@import url("./styles/color.css");
@import url("./styles/font.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  padding: 2rem 1.5rem;
  color: var(--shark-950);
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.gap-6 {
  gap: 24px;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 8px 45px rgba(34, 34, 34, 0.1);
}

.product_homepage {
  width: 100%;
  height: 100%;
}
